  html {
    height: 100%;
  }
  body {
    height: 100%;
    width: 100%;
    text-align: center;
	margin: 0;
  }
  div {
    margin: 0 auto;
    width: 25%;
    height: 22%;
  }
  .A {
    position: absolute;
    left: 7%;
    right: 20%;
    margin: auto;
    top: 20%;
    bottom: 30%;
    border: blue 4px solid;
    background: rgb(232, 232, 233);
  }
  .B {
    border: 4px solid red;
    position: absolute;
    left: 20%;
    right: 0;
    margin: auto;
    top: 30%;
    bottom: 25%;
    background: rgb(241, 206, 206);
  }