div.C {
    width: 300px;
    height: 35px;
    border: 3px solid red;
    background: yellow;
    padding-top:25px;
}

div.A {
    position:relative;
    bottom: 9px;
    left:20px;
}

div.B {
    position:relative;
    top: -28px;
    left:20px;
}